@import '../fonts/stylesheet.css';

body {
    font-family: 'Century Gothic';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #000;
}

#wrapper {
    overflow: hidden;
}

/* Nav Bar Modification */

.bg-gray-50 {
    background: rgba(229, 229, 229, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    margin-left: 10px;
}
.navbar-light .navbar-toggler{
    border: none;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(142, 36, 170, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='15' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.navbar-light .navbar-nav .nav-link::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #0a0a0a;
    font-weight: 600;

}

@media screen and (max-width:767px){
	.bg-gray-50 {
		background: #fff !important;
	}
	.nav-link {
		text-align: center;
		font-size: 16px;
	}	
}

/* Nav Bar Modification */

/* Hero Banner Area */
.hs-banner-info {
	top: 28%;
	right: 17rem;
}
h1,h2{
    font-family: 'Lobster', cursive;
}
.hs-hero-pill{
    background-color: #8E24AA !important;
    font-size: 0.7rem;
	padding: 7px 30px;;
}

@media screen and (max-width:1080px){
    .hs-banner-info {
        top: 6rem;
        right: 7rem;
    }
}
@media screen and (max-width:767px){
    .hs-banner-info {
        top: 10rem;
        left: 0;
        right: 0;
    }
}

/* CTA's  */

.hs-bg-dark{
    background: #F5F5F5;
}

.hs-cta h2.position-absolute {
	top: 43%;
	/* bottom: 50%; */
	left: 0;
	right: 0;
	margin: 0;
	text-align: center;
	padding: 0;
}

@media screen and (max-width:767px){
    #hs-cta .col-6:first-child{
        padding-right: 5px;
    }
    #hs-cta .col-6:nth-child(2){
        padding-left: 5px;
    }

}

/* Mix Tape Section */

#hs-mix-tap {
	background: linear-gradient(109deg, #4568DC 0.29%, #B06AB3 91.66%);
}

.embed-responsive.embed-responsive-1by1:hover {
    border: 2px solid #fff;
}